
/.*
!.env

node_modules
var
composer.json
composer.lock

/*.lock
/docker-compose*.yml
package.json
phpunit.xml.dist
webpack.config.js
Makefile

tests

services/*
!services/php_prod/fpm-pool.ini
!services/php_prod/prod.ini
!services/php_prod/zzz.docker.conf

