<?php

$finder = PhpCsFixer\Finder::create()
    ->in([__DIR__ . '/src', __DIR__.'/tests'])
    ->exclude('Migrations')
;

return Retailcrm\PhpCsFixer\Defaults::rules()
    ->setFinder($finder)
    ->setUsingCache(false)
;
